<html lang="ko">

<head>
    <%- include('../partials/head.ejs') %>

    <title>AVIP Lab - Project</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/project.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <div class="wrap">
        <div class="left">
            <div class="box">
                <h3>Research</h3>
            </div>
            <ul>
                <li><a href="/research">Research</a></li>
                <li><a href="/project">Projects</a></li>
            </ul>
        </div>
        
        <div class="right">
            <section id="project">
                <% if (isAdmin == 'admin') { %>
                    <button type="button" class="button"><a href="/project/write">추가</a></button>
                <% } %>
                <div class="label">
                    <div class="proj">프로젝트</div>
                    <div class="date">기간</div> 
                </div>
                <div class="list">
                    <% if (project.length > 0) { %>
                        <% project.forEach(n => { %>
                            <div class="inner">
                                <div class="proj">
                                    <div class="img"><img src="/img/<%= n.img %>" alt="project_img"></div>
                                    <div class="content">
                                        <p class="kTitle"><%= n.kTitle %></p>
                                        <p class="eTitle"><%= n.eTitle %></p>
                                        <ul>
                                            <li><%= n.position %></li>
                                            <li><%= n.institution %></li>
                                            <li><%= n.budget %></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="date">
                                    <%= n.date %>
                                    <% if (isAdmin == 'admin') { %>
                                        <button type="button" class="button" style="margin-right: 5px;"><a href="/project/modify?id=<%= n._id %>">수정</a></button>
                                        <button type="button" id="<%= n._id%>" onclick="confirmDelete(id)"  class="button"><a href="#">삭제</a></button>
                                    <% } %></div>
                            </div>                        
                        <% }) %>
                    <% } else { %>
                        <p>There are No Projects to Display...</p>
                    <% } %>
                </div>                    
            </section>
      
            <section id="collab" class="tabcontent">
                <div class="top">
                    <h2>Collaborators</h2>
                    <% if (isAdmin == 'admin') { %>
                        <button type="button" class="button"><a href="/project/collab/write">추가</a></button>
                    <% } %>
                </div>
                <div class="box">
                    <ul>
                        <% if (collab.length > 0) { %>
                            <% collab.forEach(n => { %>
                                <li>
                                    <div class="img-box">
                                        <img src="/img/<%= n.img %>" alt="collaborator_img">
                                    </div>
                                    <div class="bottom">
                                        <h3><%= n.institution %></h3>
                                        <p><%= n.name %></p>
                                        <% if (isAdmin == 'admin') { %>
                                            <button type="button" class="button" style="margin-right: 5px;"><a href="/project/collab/modify?id=<%= n._id %>">수정</a></button>
                                            <button type="button" id="<%= n._id%>" onclick="collabConfirmDelete(id)" class="button"><a href="#">삭제</a></button>
                                        <% } %>
                                    </div>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <p>There are No Collaborators to Display...</p>
                        <% } %>
                    </ul>
                </div>
            </section>
        </div>
    </div>

    <%- include('../partials/footer.ejs')%>

</body>

<script>
    function confirmDelete(id) {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                    location.href="/project/delete?id=" + id;
            }
        }
    }

    function collabConfirmDelete(id) {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                    location.href="/project/collab/delete?id=" + id;
            }
        }
    }
</script>

</html>