<html lang="ko">

<head>
    <%- include('./partials/head.ejs')%>

    <title>AVIP Lab - Photos</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/photo.css">
</head>

<body>

    <%- include('./partials/header.ejs')%>
    <div class="wrap">
        <section class="head">
            <div class="top">
                <h3>Photos</h3>
            </div>
            <div class="content">
                <% if (isAdmin == 'admin') { %>
                    <form action="/photo/write" method="POST">
                        <label for="img">Image</label>
                        <input type="file" id="img" name="img" placeholder="img" required>
                        <button class="add-btn">추가</button>                
                    </form>                
                <% } %>
            </div>
        </section>
        <section class="photos">
            <% if (result.length > 0) { %>
                <% result.forEach(n => { %>
                    <div class="box">
                        <img src="/img/<%= n.img %>" alt="이미지">
                        <% if (isAdmin == 'admin') { %>
                            <button type="button" id="<%= n._id %>" onclick="confirmDelete(id)" class="button"><a href="#">삭제</a></button>
                        <% } %>
                    </div>
                <% }) %>
            <% } else { %>
                <p>There are No Photos to Display</p>
            <% } %>
        </section>
    </div>
    <%- include('./partials/footer.ejs')%>

</body>

<script>
    function confirmDelete(id) {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                location.href="/photo/delete?id=" + id;
            }
        }
    }
</script>

</html>