<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../partials/head.ejs') %>

    <title>AVIP Lab - Publications</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/publication.css">
</head>

<body>

    <%- include('../partials/header.ejs')%>

    <div class="wrap">

        <div class="left">
            <div class="box">
                <h3>Publication</h3>
            </div>
            <ul>
                <li><a href="/publication?status=prep">In Preparation</a></li>
                <li><a href="/publication?status=published">Published</a></li>
                <li><a href="/patent">Patent</a></li>
            </ul>
        </div>

        <div class="right">
            <% if (isAdmin == 'admin') { %>
                <button type="button" class="button"><a href="/publication/write?status=<%= request %>">추가</a></button>
            <% } %>
            <section class="tabcontent">
                <table>
                    <tr class="top">
                        <th class="title">제목</th>
                        <% if (request == 'prep') { %>
                            <th class="date">시작일</th>
                        <% } else if (request == 'published') { %>
                            <th class="date">등록일</th>
                        <% } else if (request == 'patent') { %>
                            <th class="date">비고</th>
                        <% } %>
                    </tr>
                    <% if (result.length > 0) { %>
                        <% result.forEach(n => { %>
                            <tr>
                                <td class="title">
                                    <p class="name"><%= n.title %></p>
                                    <p class="author"><%= n.author %></p>
                                    <% if (request == 'published') { %>
                                        <p class="publisher"><%= n.publisher %></p>
                                    <% } else if (request == 'patent') { %>
                                        <p class="issued"><%= n.issued %></p>
                                    <% } %>
                                </td>
                                <td class="date">
                                    <p><%= n.date %></p>
                                    <% if (isAdmin == 'admin') { %>
                                        <button type="button" class="btn"><a href="/publication/modify?id=<%= n._id %>&status=<%= request %>">수정</a></button>
                                        <button type="button" id="<%= n._id %>" onclick="confirmDelete(id)" class="btn"><a href="#">삭제</a></button>
                                    <% } %>
                                </td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <p>There is Nothing to Display.</p>
                    <% } %>
                </table>
                <ul class="pagination">
                    <a href="#">&laquo;</a>
                    <% if (request == 'patent') { %>
                        <% for (var i = 1; i <= totalPage; i++) { %>
                            <li class="<%= i == ind ? 'active click' : 'click' %>">
                                <a href="/patent/?page=<%= i %>&index=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>                    
                    <% } else if (request == 'prep' || request == 'published') { %>
                        <% for (var i = 1; i <= totalPage; i++) { %>
                            <li class="<%= i == ind ? 'active click' : 'click' %>">
                                <a href="/publication?status=<%= request %>&page=<%= i %>&index=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                    <% } %>

                    <a href="#">&raquo;</a>
                </ul>
            </section>   
        </div>
    </div>

    <%- include('../partials/footer.ejs')%>

</body>

<script>
    $(document).ready(function(){
        $(".click").click(function () {
            $(".click").removeClass("active");
            $(this).addClass("active");   
        });
    });

    function confirmDelete(id) {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                location.href="/publication/delete?id="+ id + "&status=<%= request %>";
            }
        }
    }
</script>

</html>