<html lang="ko">

<head>

    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Members</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/member.css">
    
</head>

<body>

    <%- include('../partials/header.ejs')%>

    <div class="wrap">

        <div class="left">
            <div class="box">
                <h3>Members</h3>
            </div>
            <ul>
                <li><a href="/member?status=all">All</a></li>
                <li><a href="/member?status=grad">Graduate</a></li>
                <li><a href="/member?status=under">Undergraduate</a></li>
                <li><a href="/alumni">Alumni</a></li>
            </ul>
        </div>

        <div class="right">
            <% if (isAdmin == 'admin') { %>
                <% if (request != 'all') { %>
                    <button type="button" class="button"><a href="/member/write?status=<%= request %>">추가</a></button>
                <% } %> 
            <% } %>
            <section class="tabcontent">
                <ul>
                    <% if (result.length > 0) { %>
                        <% result.forEach(n => { %>
                            <li>
                                <div class="img-box">
                                    <img src="/img/<%= n.img %>" alt="학생 이미지">
                                </div>
                                <div class="info">
                                    <h3><%= n.name %></h3>
                                    <p><b>E</b> &emsp; <%= n.email %></p>
                                    <% if (request == 'alumni') { %>
                                        <p>소속: <%= n.info %></p>
                                    <% } else { %>
                                        <p>Since <%= n.date %></p>
                                    <% } %> 
                                    <% if (isAdmin == 'admin' && request != 'all') { %>
                                        <button type="button" class="btn"><a href="/member/modify?id=<%= n._id %>&status=<%= request %>">수정</a></button>
                                        <button type="button" id="<%= n._id%>" name="<%= request %>" onclick="confirmDelete(id, name)" class="btn"><a href="">삭제</a></button>
                                    <% } %>
                                </div>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <p>There are No Members to Display...</p>
                    <% } %>
                </ul>
            </section>
        </div>

    </div>

    <%- include('../partials/footer.ejs')%>

</body>

<script>
    function confirmDelete(id, status) {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                    location.href="/member/delete?id=" + id + "&status=" + status;
            }
        }
    }
</script>

</html>