<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Members</title>

    <style>
        @import url("/css/footer.css");
        @import url("/css/header.css");
        @import url("/css/form-common.css");
    </style>
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="box">
            <h3>Modify Members</h3>
        </div>
        <div class="content">
            <form action="/member/modify?status=<%= request %>&id=<%= result._id %>&_method=PUT" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= result.name %>" placeholder="name" required>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="<%= result.email %>" placeholder="email" required>
                <% if (request == 'student') { %>
                    <label for="status" hidden>Status</label>
                    <input type="text" id="status" name="status" value="<%= result.status %>" hidden>
                    <label for="date">Date</label>
                    <input type="text" id="date" name="date" value="<%= result.date %>" pattern="^\d{4}\.\d{2}" placeholder="YYYY.MM" required>
                <% } else if (request == 'alumni') { %>
                    <label for="info">소속</label>
                    <input type="text" id="info" name="info" value="<%= result.info %>" placeholder="info" required>
                <% } %>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

</html>