<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - Photos</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/photo-detail.css">
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="left">
            <div class="box">
                <h3>News</h3>
            </div>
            <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/photo">Gallery</a></li>
            </ul>
        </div>

        <div class="right">
            <div class="title">
                <h3>title</h3>
                <span>2023.01.01</span>
            </div>
            <div class="content">
                <% if (result.img) { %>
                    <div class="image">
                        <img src="/img/<%= result.img %>" alt="gallery_img">
                    </div>
                <% } %>
                <div class="write">
                    <p class="body">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@</p>
                </div>
            </div>
            <div class="button">
                <% if (isAdmin == 'admin') { %>
                    <button type="button" class="btn"><a href="/photo/modify?id=<%= result._id %>">수정</a></button>
                    <button type="button" onclick="confirmDelete()" class="btn"><a href=#>삭제</a></button>
                <% } %>
                <button type="button" class="btn"><a href="/photo">목록</a></button>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

<script>
    function confirmDelete() {
        if(confirm("Are you sure you want to delete?")) {
            if (confirm) {
                location.href="/photo/delete?id=<%= result._id %>";
            }
        }
    }
</script>

</html>