<html lang="ko">

<head>
    <%- include('../partials/head.ejs')%>

    <title>AVIP Lab - News</title>

    <!-- custom css -->
    <link rel="stylesheet" href="/css/news.css">
</head>

<body>

    <%- include('../partials/header.ejs')%>
    <div class="wrap">
        <div class="left">
            <div class="box">
                <h3>News</h3>
            </div>
            <ul>
                <li><a href="/news">News</a></li>
                <li><a href="/photo">Gallery</a></li>
            </ul>
        </div>
        <div class="right">
            <% if (isAdmin == 'admin') { %>
                <button type="button" class="btn"><a href="/news/write">추가</a></button>
            <% } %>
            <table>
                <tr class="top">
                    <th class="title">제목</th>
                    <th class="date">등록일</th>
                </tr>
                <% if (news.length > 0) { %>
                    <% news.forEach(n => { %>
                        <tr>
                            <td class="title"><a href="/news/detail?id=<%= n._id %>"><%= n.title %></a></td>
                            <td class="date"><%= n.date %></td>
                        </tr>
                    <% }) %>
                <% } else { %>
                    <p>There are no news to display...</p>
                <% } %>
            </table>
            <ul class="pagination">
                <% if (startIndex > 1) { %>
                    <a href="/news?page=<%= startIndex - 1%>&prev=prev">&laquo;</a>
                <% } %>
                <% for (var i = startIndex; i <= endIndex; i++) { %>
                    <li class="<%= i == page ? 'active click' : 'click' %>">
                        <a href="/news?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>     
                <% if (endIndex < totalPage) { %>
                    <a href="/news?page=<%= endIndex + 1%>&next=next">&raquo;</a>
                <% } %>            </ul>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>

</body>

<script>
    $(document).ready(function(){
        $(".click").click(function () {
            $(".click").removeClass("active");
            $(this).addClass("active");   
        });
    });
</script>

</html>